/* You can add global styles to this file, and also import other style files */

:root {
  --cinza-cielo: #5a646e;
  --low-shadow: 0 .4rem .4rem 0 rgba(58, 59, 69, 0.055);
  
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f2f3f6;
  
}
.low-shadow{
    box-shadow: var(--low-shadow);
  }